aiogram==3.18.0
nltk==3.9.1
regex==2024.11.6
num2words==0.5.14
spacy==3.8.4
langcodes==3.5.0
transformers==4.49.0
sentencepiece==0.1.99
pydub==0.25.1
speechrecognition==3.14.1
librosa==0.10.2.post1
numpy==1.24.3
pandas==1.5.3
pywin32; sys_platform == "win32"
pysrt==1.1.2
python-dotenv==1.0.1
